#page-about {
  background: #333;
  text-align: center;
  // height: 100vh;
  // width: 100vw;
  padding-top: 10vh;
  color: #fff;

  .img-cassio {
    background-color: #aaa;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
    object-fit: cover;
  }

  .text-about {
    width: 70%;
    margin: auto;
    text-align: center;

    h1 {
      text-align: center;
    }

    .text-about-p {
      width: 80%;
      margin: auto;
      text-align: justify;
    }
  }

  .icon-about {
    margin-top: 20px;
    img {
      padding: 10px;
    }
  }
}