#page-certificates {
  background: #333;
  text-align: center;
  height: 100vh;
  width: 100vw;
  padding-top: 5vh;
  color: #fff;

  #items {
    display: flex;
    // overflow: scroll;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    // -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    border: groove;
    width: 98vw;

    
    .item {
      flex: none;
      width: 100vw;
      height: auto;
      scroll-snap-align: start;
      pointer-events: none;
    }
    
    img {
      // width: 90%;
      // height: 90%;
      height: 70vh;
      width: 80vw;
      // object-fit: cover;
      margin: 10px;
    }
  }
  .arrowGif {
    img {
      width: 55px;
      margin: auto;
      top: 16px;
      margin-top: 16px;
    }
  }
}