#page-contact {
  background: #333;
  text-align: center;
  height: 50vh;
  width: 50vw;
  padding-top: 15vh;
  color: #fff;
  margin: auto;
  
  .text-contact {
    width: 80%;
    margin: auto;
    // margin-top: revert;
    text-align: justify;
    font-size: large;
  }

  .item {
    margin-top: 20px;
  }

  a {
    margin: 16px;
  }
}
